header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  padding-block: var(--inline-padding);
  margin-right: -4rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  header {
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-right: 0;
  }
}
.cost-report {
  display: inline-flex;
  margin-bottom: -0.5rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: var(--primary-text);
  border: 1px solid rgb(65, 188, 196);
  border-radius: 32px;
  background-color: rgb(237, 255, 255);
  font-family: "Work Sans", sans-serif;
}
@media (max-width: 768px) {
  .cost-report {
    display: none;
  }
}
.cost-report span {
  margin-left: 8px;
  margin-bottom: -3px;
  transition: transform 0.2s ease-in-out;
}
.cost-report:hover span {
  transform: translateX(3px);
}
header section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  header section {
    padding-inline: var(--padding-sm);
  }
}
.header-cta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .header-cta {
    gap: 0.5rem;
    align-items: stretch;
  }
  .header-cta button {
    font-size: 12px;
  }
}
.cta-btn {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.btn-delimiter {
  color: #94a1ad;
  transform: translateX(0) !important;
}
.partners {
  margin-top: 5.5rem;
  border: 1px solid #71879c33;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 10px;
}
.partners p {
  font-family: var(--heading-font);
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  .partners {
    margin-top: 2rem;
  }
  .partners img {
    max-width: 100%;
    height: auto;
  }
}
.img-container {
  position: relative;
  margin-right: -2rem;
}
@media (max-width: 768px) {
  .img-container img {
    object-fit: contain;
  }
}
.img-container img {
  max-width: 100%;
  object-fit: cover;
}
.top-ball {
  position: absolute;
  z-index: -1;
  left: -50px;
  width: 200px;
  height: 200px;
  animation: bounce 10s linear infinite;
}
@media (max-width: 768px) {
  .top-ball {
    left: 10px;
    width: 100px;
    height: 100px;
  }
}
.rolling-ball-container {
  position: absolute;
  width: 380px;
  height: 380px;
  z-index: -1;
  left: 0;
  bottom: 0;
  animation: rollAlongBottomLeft 10s linear infinite;
  transform-origin: center center;
}
@media (max-width: 768px) {
  .rolling-ball-container {
    width: 190px;
    height: 190px;
  }
}
.rolling-ball {
  width: 100%;
  object-fit: cover;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rollAlongBottomLeft {
  0% {
    transform: translateX(0) rotate(360deg);
  }
  50% {
    transform: translateX(30px) rotate(270deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}
