.offerings-container {
  margin-block: 5rem;
  height: 300vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.portfolio-container {
  border-radius: 24px;
  padding: 2rem 1rem;
  padding-right: 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  position: sticky;
}
@media (max-width: 768px) {
  .offerings-container {
    padding-inline: var(--padding-sm);
    height: 230vh;
    margin-block: 3rem;
  }
  .portfolio-container {
    padding: 1.5rem 2rem;
    grid-template-columns: 1fr;
  }
  .portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .portfolio-img img {
    width: 100%;
  }
}
.portfolio-container button {
  color: #171c22;
  background: #71879c0d;
}
.stock-portfolio {
  background: #edffff;
  top: 5%;
}
.investment-portfolio {
  background: #f5f1fe;
  top: 10%;
}
.fixed-income {
  background: #f6e4f0;
}
