.investment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  align-items: center;
  padding: 4rem var(--inline-padding);
  padding-right: 0;
  overflow: hidden;
  background: #71879c0d;
  border-radius: 24px;
  margin-bottom: 8rem;
}
.investment-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.slide-in {
  animation: slide-in 1s ease-out;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
