@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-dark-text: #1c232b;
  --primary-text: #0898a0;
  --dark-text: #171c22;
  --inline-padding: 4rem;
  --block-padding: 1.5rem;
  --heading-font: "Hanken Grotesk", sans-serif;
  --body-font: "DM Sans", sans-serif;
}
@media (max-width: 768px) {
  :root {
    --inline-padding: 0rem;
    --padding-sm: 1.5rem;
    --block-padding: 1.5rem;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--primary-dark-text);
  font-weight: 600;
}
h1 {
  font-size: 3.75rem;
  line-height: 4.6875rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
}
h2,
h3 {
  font-size: 3rem;
  line-height: 3.7rem;
}
@media (max-width: 768px) {
  h2,
  h3 {
    font-size: 2rem;
    line-height: 2.3rem;
  }
}
p {
  color: #5e7387;
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}
button {
  border-radius: 50px;
  padding: 1rem 1.5rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 1rem;
  border: none;
  width: fit-content;
}
@media (max-width: 768px) {
  button {
    padding: 0.8rem 1.2rem;
    font-size: 0.875rem;
    width: fit-content;
  }
}
button:hover span {
  transform: translateX(5px);
}
.container {
  padding-inline: var(--inline-padding);
}
.heading-span {
  font-weight: 500;
  font-style: italic;
  color: var(--primary-text);
}
.center-heading {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.btn-primary {
  background-color: var(--primary-text);
  color: white;
  border: none;
  width: fit-content;
}
.btn-primary span {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: -5px;
  transition: transform 0.2s ease-in-out;
}
.btn-secondary {
  color: var(--primary-dark-text);
  background-color: #71879c0d;
  border: none;
  transition: transform 0.2s ease-in-out;
}
.btn-secondary:hover {
  transform: scale(1.05);
}
.btn-light {
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
}
.btn-light span {
  margin-left: 0.5rem;
  margin-bottom: -5px;
  transition: transform 0.2s ease-in-out;
}
.btn-outline {
  color: #fff;
  border: 1px solid #fff;
  background: none;
}
.btn-outline span {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: -5px;
  transition: transform 0.2s ease-in-out;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
}
.modal-visible {
  display: flex;
}
.no-scroll {
  overflow: hidden;
  /* position: fixed; */
  /* width: 100%; */
}
